body {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    max-width: 65%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    max-width: 300px;
    padding: 7px;
    font-size: 1em;
}

.state-names, .num-of-results {
    font-size: 1.2em;
}

.num-of-results {
    margin-top: 8px;
}

.state-names p {
    font-size: 0.8em;
    margin-top: 0;
}

.comma {
    font-size: 1.6em;
}

. error-message {
    color: red;
}

.hidden {
    display: none;
}

li {
    list-style: decimal;
}